:root {
    /* dark shades of primary color */
    --clr-primary-1: #006203;
    --clr-primary-2: #0f9200;
    /* primary/main color */
    --clr-primary-3: #30cb00;
    /* lighter shades of primary color */
    --clr-primary-4: #4ae54a;
    --clr-primary-5: #a4fba6;

    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);

    --clr-white: #fff;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

.jumbotron {
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(../images/bkg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
#section-newsletter {
    padding-top: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 3rem;
}
.nav-link.active, .nav-link:hover {
    color:var(--clr-primary-2) !important;
    background-color: var(--clr-grey-10);
}
.about-icon {
    color: var(--clr-primary-1) !important;
}
.card-text {
    color: var(--clr-grey-7);
}
.read-more, .read-more:hover {
    color: var(--clr-primary-2);
    font-weight: bold;
    text-decoration: none;
}